@import url("");

body{
    width:100%;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    min-height: 100vh;
    font-family:"Poppins",sans-serif ;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;

}

.header header{
    width: 100%;
    background: url('#') no-repeat cover ;
    min-height: calc(100px + 15vw);
}

.left_col{
    

} 